{% extends 'base.html' %}
{% block content %}
<div class="section">
    <h2>About Me</h2>
    <p>
        Hello! I'm <b>Dhanesh</b>, a passionate cybersecurity expert dedicated to protecting digital assets and ensuring the safety of information systems. My mission is to help organizations defend against cyber threats and build secure, resilient infrastructures.
    </p>
    <p>
        With a strong background in security analysis, secure coding, network security, and cryptography, I bring a holistic approach to cybersecurity challenges.
    </p>
</div>
{% endblock %} 